<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div class="div-form-title-input">
      <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">

        <label class="label-input-title" for="title">Title :</label>
        <input class="product-input" type="text" name="title" 
        value="<% if(editing) { %> <%=product.title%> <% } %>" required/>

        <label class="label-input-title" for="price">Price :</label>
        <input class="product-input" type="number" name="price" id="price" step="0.01"
        value="<% if (editing) { %><%= product.price %><% } %>" required/>
      

        <label class="label-input-title" for="imgUrl">Image URL:</label>
        <input class="product-input" type="text" name="imgUrl" id="imgUrl"
        value="<% if(editing) { %> <%=product.imgUrl%> <% } %>" required/>

        <label class="label-input-title"  for="description">Description :</label>
        <textarea style="display: block;" class="" maxlength="250" rows="4" cols="54"  type="text" name="description"><% if(editing) { %> <%= product.description %> <% } %></textarea>

        <% if (editing) {%>
          <input type="hidden" value="<%= product._id %>" name="id">
        <%} %>

        <button style="display: block;" class="add-product-btn" type="submit">
          <% if (editing) { %>
            Update Product
          <% } else { %>
            Add Product
          <% } %>
        </button>

      </form>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>

