<header class="header-navbar">
  <nav>
    <ul>
      <!-- <li>
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home SHOP</a>
      </li> -->
      <li>
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
          >Products</a
        >
      </li>
      <li>
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
      </li>
      <li>
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
          >Orders</a
        >
      </li>
      <% if (isAuth) { %>
      <!-- <!-- <li> -->
        <a
          class="<%= path === '/admin/add-product' ? 'active' : '' %>"
          href="/admin/add-product"
          >Add Product</a
        >
      </li>
      <li>
        <a
          class="<%= path === '/admin/products' ? 'active' : '' %>"
          href="/admin/products"
          >Admin Products</a
        >
      </li>
      <% } %>
    </ul>
    <ul>
      <% if (!isAuth) { %>
      <li>
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
          >Login</a
        >
      </li>
      <% } %>
      <% if (isAuth) { %>
      <li>
        <form style="padding: 0; margin: 0;" action="/logout" method="post">
          <button style="padding: 0; margin: 0; background-color: black; color: white; border: none; cursor: pointer; font-size: 16px;"  type="submit" href="/logout"
            >Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
