<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if(products.length > 0) { %>
      <ul>
        <% products.forEach(prod => { %>
          <p><%= prod.productData.title %> (<%= prod.qty %>)</p>
        <% }) %>        
      </ul>
    <% } else { %>
    <h1>No Products In Cart</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>
