<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
  <% if (orders.length === 0) { %>
    <h1 style="color: white; margin: 1rem">Nothing there😰</h1>
  <% } else { %>
    <div class="orders-wrapper-container">
      <% orders.forEach(ord => { %>
        <div class="orders-container">
          <h4>Order Number: <%= ord._id %></h4>
            <% ord.items.forEach(item => { %>
          <div class="oder-info-div">
              <span>Title: <%= item.title %></span>
              <span>Quantity: <%= item.quantity %></span>
          </div>
            <% }) %>
        </div>
      <% }) %>
        </div>
  <% } %>
</main>

<%- include('../includes/end.ejs') %>
