<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
  <% if (orders.length === 0) { %>
    <h1 style="color: white; margin: 1rem">Nothing there😰</h1>
  <% } else { %>
    <ul>
      <% orders.forEach(ord => { %>
        <li>
          <h1><%= ord.id %></h1>
          <ul>
            <% ord.products.forEach(item => { %>
              <li><%= item.title %></li>
              <li><%= item.order_item.quantity %></li>
            <% }) %>
          </ul>
        </li>
      <% }) %>
    </ul>
  <% } %>
</main>

<%- include('../includes/end.ejs') %>
