<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs')
%>
<main>
  <% if(prods.length > 0 ){ %>
  <div class="grid">
    <% prods.forEach((product) => {%>
    <article class="card">
      <header class="card__header">
        <h1 class="product__title"><%= product.title %></h1>
      </header>

      <div class="card__image">
        <img
          src="<%= product.imgUrl %>"
          alt="A Book"
        />
        <div class="card__content">
          <h2 class="product__price"><%= formatCurrency(product.price) %></h2>
          <p class="product__description">
           <%= product.description %>
          </p>
        </div>
        <div class="card__actions">
          <a href="/products/<%= product.id %>" class="details-btn">Details</a>
          <%- include('../includes/add-to-cart.ejs', {product: product}) %>
        </div>
      </div>
    </article>
    <% }) %>
  </div>
  <% } else { %>
  <h1 style="color: white; margin: 2rem">Not Products Found 😪</h1>
  <% } %>
</main>
<%- include('../includes/end.ejs') %>
